.abt {
  height: auto;
  display: flex;
  flex-direction: column;
  p{
    align-self: center;
    font-size: 50px;
    font-weight: 600;
  }
  .tic-tac-toe-wrapper{
    align-self: center;
    justify-self: center;
    display: grid;
    border: 1.5px solid black;
    
    height: auto;
    width: 50vw;
    margin-top: 50px;
    .box{
      border: 3px solid black;
      height: 310px;
      width: 33%;

      &:hover{
        
        cursor: pointer;
      }
      font-size: 200px;
      text-align: center;

    }
    .box-container{
      display: flex;
      justify-content: center;
      height: auto;
      margin: 0;
    }
    .middle-row{
      
      border-top: 1.5px solid black;
      border-bottom: 4.5px solid black;
    }
    
    
  }
}
.abt-content {
  
}
