.abt {
  height: auto;
  display: flex;
  flex-direction: column;
  p{
    align-self: center;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    
  }
  .tic-tac-toe-wrapper{
    align-self: center;
    justify-self: center;
    display: grid;
    border: 1.5px solid black;
    
    height: auto;
    width: 50vw;
    
    .box{
      border: 3px solid black;
      height: 300px;
      width: 33%;
      
      &:hover{
        
        cursor: pointer;
      }
      font-size: 200px;
      text-align: center;

    }
    .box-container{
      display: flex;
      justify-content: center;
      height: auto;
      margin: 0;
    }
    .middle-row{
      
      border-top: 1.5px solid black;
      border-bottom: 3px solid black;
    }
    
    
  }
}

@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
