// items needed to fix for different screen size
// .boundaries .sprite .maze-item

.edu{
  
  display: flex;
  flex-direction: column;
  
  height: 100vh;

  .edu-rules{
    color: $site-lightred;
    align-self: center;
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
  }
  .img-wrapper-inside-component{
    position: absolute;
    align-self: center;
    margin-top: 500px;
    .center-img{
      
      background-color: white;
      border-radius: 100px;
    }
  }
  

  .boundary{
    position:absolute;
    height: 60vh;
    width: 70px;
    
    margin-top: 85px;
    margin-left: 385px;
  }

  .boundary-bottom{
   
    width: 63vw;
    height: 70px;
    position: absolute;
    margin-top: 835px;
    margin-left: 455px;
  }

  .boundary-right{
    
    height: 60vh;
    width: 170px;
    position: absolute;
    margin-top: 85px;
    margin-left: 2065px;
  }

  .boundary-top{
    
    width: 63vw;
    height: 70px;
    position: absolute;
    margin-top: 17px;
    margin-left: 455px;
  }
.game-wrapper{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  justify-self: center;
  
  .finish{
    
    height: 60vh;
    width: 75px;
    background-color: lightgreen;
    border: 1.5px solid black;
    border-left: none;
    
    
  }
}

.maze-container{
  
  border: 1.5px solid black;
  border-right: none;
  height: 100%;
  width: 60vw;
  align-self: center;
   
   display: flex;
  justify-content: space-around;
  background-color: lightyellow;
  .maze-item{
    
    width: 70px;
    height: 300px;
    background-color: black;
    
  }

  .sprite{

    
    display: flex;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: red;
    margin-right: 1400px;
    align-self: center;

    
  }

  

    @keyframes maze-item-anim{
      0% {transform: translate(0,0);}
      100% {transform: translate(0,28em);}
    }

    @keyframes center-item-anim{
      0% {transform: translate(0,0);}
      100% {transform: translate(0,-28em);}
    }
    .left-maze, .right-maze{
      animation-name: maze-item-anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      
    }
   .center-maze{
    align-self: flex-end;
    animation-name: center-item-anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
   }
}

}