.exp{
  // game styles
  height: 100vh;
  .game{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;

    .scramble-viewer{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 5px dashed $site-gray;
      width: 35vw;
      
      h1{
        font-size: 125px;
        margin: 0 0 25px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: 600;
        letter-spacing: 15px;
      }


    }

    .user-input-unscramble{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50vw;
      margin-top: 50px;
      height: 100px;
      input{
        border: none;
        border-bottom: 3px solid $site-gray;
        text-align: center;
        height: fit-content;
        font-size: 50px;
        width: 150px;
        margin: 0 40px;
        &:focus{
          border-bottom: 5px solid #cea135;
          outline: 0;
        }
      }
      .notification-wrapper{
        height: 150px;

        .correct-wrapper{
          color: green;
          font-style: italic;
          font-size: 30px;
          margin: 0;

        }
        .notification{
          animation: fadeIn linear 2s;
        }
        p{
          margin: 0;
        }

      }
      
    }
  }


  

 //animations
 @keyframes fadeIn {
   0%{opacity: 0;}
   100%{opacity: 1;}
 }

  // exp page styles
}