.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
   .head{
     display: flex;
     flex-direction: column;
     flex: inherit;
     margin: 20px 0 0 20px;
     h1,h3{
       margin: 0;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }

     h3{
       font-size: 20px;
       font-style: italic;
       color: #707070;
     }
     h1{
       font-size: 40px;
       font-weight: 600;
     }
   }




   .trunk{
     display: flex;
     flex: auto;
     justify-content: space-between;
     margin: 0 150px;
     align-items: center;



     .trunk-comp{
       display: flex;
       flex-direction: column;
       
       justify-content: space-around;
       height: 100%;


       img{
         height: 120px;
         width: 100px;
       }


       
     }
     .one, .two{
       width: 200px;
     }

     .trunk-comp-middle{
       display: flex;
       align-items: center;
       justify-content: center;
      border: 5px $site-gray dashed;
      margin: 15px;
       img{
         height: 230px;
         width: inherit;
       }
     }
   }
}
