@import "./variables.scss";
@import "./home.scss";
@import "./navbar.scss";
@import "./contact.scss";
@import "./education.scss";
@import "./experience.scss";
@import "./about.scss";
@import "./queires.scss";
body {
  margin: 0px;
  margin-right: 40px;
  height: 100vh;
}


.back-link-wrapper{
  display: flex;
  text-decoration: none;
  color: black;
}



.loader {
  
  transition: 2s ease-in;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid lightgreen; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  align-self: center;
 
  
}

.img-wrapper{
  position: absolute;
  
  .center-img{
    position: absolute;
    border: none;
    background-color: white;
    
  }
  .active{
    
    
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0%{opacity: 0; visibility: visible;}
  100%{opacity: 1; visibility: visible;}
}

@keyframes scale {
  0%{transform: scale(inherit,inherit)}
  100%{transform: scale(250, 250);}
}

@keyframes scaleReverse {
  0%{transform: scale(250,250);}
  100%{transform: scale(0,0);}
}

